.table {
    display: table;
    border-spacing: 2px;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    border: 1px solid black;
}
.description {
    background: #ecf0f1;
}
.table_main {
    width: 100%;
}
.cell_character {
    width: 20%;
}
.cell_skillsListCustom {
    width: 30%;
}
.cell_skillsListGeneral {
    width: 50%;
}
.cell_skillsListGeneral_skills {
    width: 70%;
}
.cells_skillsListGeneral_subCategory {
    width: 30%;
}
.cell_price {
    width: 10%;
}
.cell_skill {
    width: 90%;
}
.cell_totalPrice {
    width: 100%;
}
.subCategorySeparator {
    margin: 10px 0px;
}
.itemWrapper {
    border-bottom: 1px solid black;
    clear: both;
}
.expSpend {
    display: inline-block;
    float: right;
    border-bottom: 1px solid black;
}
.eventsNote {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 5%;
    background-color: yellow;
    border: 1px solid black;
    padding: 1px;    

}
.eventsNoteWrapper {
    position: relative;
    border: 1px solid black;
    padding: 1px 5px;
}
.closed {
    display: none;
}
.date {
    display: inline-block;
    float: right;
    border-bottom: 1px solid black;
    margin-bottom: 3px;
}
.message {
    display: inline-block;
    clear: both;
    border-bottom: 1px solid black;
}
.eventsNote_header{
    text-align: center;
}
.eventsNote_footer {
    margin-top: 10px;
    text-align: center;
}
.skillEnable {
    background-color: green;
}
.skillNotRequired {
    background-color: yellow;
}
.skillHasConflict {
    background-color: red;
}